
    

#particles-js {
    
    height: 90vh;
    background-color: rgb(4, 4, 4);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 9;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
   
    
    
}
